.navbarComponent{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 14vw;
    background-color: #f8f9fa;
    border-right: 1px solid black ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    padding-top: 20px;
}

.logoNavBar{
    width: 180px;
    height: auto;
    margin: 20px auto -50px auto;
}

.nav-item {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.nav-item:hover {
    color: #064f9d;
}

.material-icons {
    font-size: 36px;
}

p {
    font-size: 20px;
    margin-left: 10px;
    text-align: left;
}


